{% load static %}
<!DOCTYPE html>
<html lang="En">

<head>
	<meta charset="UTF-8">
	<title> Login </title>
	<link rel="stylesheet" type="text/css" href="{% static 'login/login.css'%}" title="style" />

</head>

<body>
	<header>
		<h1>Login</h1>
		<hr>
	</header>

	<div class="column1">

		<div class="inputs">
			Username 
			<br>
			<input id="username" type="text"/>
			<br>
			Password
			<br>
			 <input id="password" type="text"/>
			<br><br>
			<button onclick="loginsubmit()"> Submit </button>
		</div>
		<hr>
	</div>
	<footer>(c)  <span> chessApp </span> </footer>
</body>

</html>